.SearchButton {
  color: black;
  font-weight: bold;
  width: 100px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: chartreuse;
}
.FormMovie {
  display: flex;
  height: 50px;
  flex-direction: row;
  background-color: blueviolet;
  justify-content: center;
  padding: 10px;
}
.InputMovies {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 30px;
  align-items: center;
  position: relative;
  border: 4px solid greenyellow;
}
